%h3.answers-heading= t('activerecord.models.answer', count: @question.answers.count)
- @question.answers.accepted_first.each do |answer|
  - if answer.persisted?
    = render 'answers/answer', answer: answer

