%h3.answers-heading
  = resource.answers.count
  = t('activerecord.models.answer', count: resource.answers.count)
- resource.answers.accepted_first.each do |answer|
  - if answer.persisted?
    = render 'answers/answer', answer: answer

