- unless @question.errors.empty?
  = @question.errors.full_messages
=form_for @question do |f|
  .form-group
    =f.label :title
    =f.text_field :title, class: 'form-control'
  .form-group
    =f.text_area :body, class: 'form-control'
  = f.submit t('Ask_question'), class: 'btn btn-success'