- if commentable.comments.any? && commentable.comments.first.persisted?
  %h3= t('activerecord.models.comment.other')

- commentable.comments.each do |comment|
  - if comment.persisted?
    = render 'comments/comment', comment: comment, commentable: commentable