=form_for @user, role: 'form' do |f|
  .form-group
    =f.label :real_name
    =f.text_field :real_name, class: 'form-control'
  .form-group
    =f.label :website
    =f.text_field :website, class: 'form-control'
  .form-group
    =f.label :location
    =f.text_field :location, class: 'form-control'
  .form-group
    =f.label :birthday
    =f.date_select :birthday, class: 'form-control'
  .form-group
    =f.label :about
    =f.text_area :about, class: 'form-control'

  =f.submit t('common.save'), disable_with: t('common.processing'), class: 'btn btn-success'