.container-fluid
  .row
    .copyright.col-xs-4
      MIT license
      %br/
      =Time.now.year
      %strong «#{app_name}»

    .info.col-xs-4

    .author.col-xs-4
      = t('common.made_by')
      %strong
        = link_to 'Riabit.ru', 'http://riabit.ru'