= link_to t('question.ask'), new_question_path, class: 'btn btn-primary btn-block'

#search
  = form_tag '/search', method: "get", class: 'form-inline' do |f|
    = text_field_tag :q, t("search.search"), class: 'form-control'
    = submit_tag t('search.do_search'), name: nil, data: {disable_with: t('common.processing')}, class: 'btn btn-success'