/*
 *##= require_tree .
 *= require_self
 */

@import "bootstrap"
@import "magicsuggest"

header
  .navbar-inverse
    background-color: #1f2532
    border-radius: 0
    .container-fluid
      max-width: 1170px
    .navbar-header button
      border-color: #999
    .brand > *
      color: #EEE
      float: left
      &.menu-heading
        font-size: 18px
        padding: 12px
    #logo img
      padding: 10px 20px 10px 0
    ul.navbar-nav
      a
        color: #BBB
      .dropdown-menu a
        color: #888

main
  .container-fluid
    max-width: 1170px

#questions
  .question
    margin-bottom: 30px
    overflow: hidden
    h3
      margin: 0
    .tags
      margin-top: 5px

body.questions
  .question
    background-color: #f5f5f5
    margin-bottom: 10px
    padding: 5px 15px 0
    h1
      margin-top: 0
    .content
      margin-bottom: 5px
  form #question_body
    min-height: 200px

.question-edit-form,
.answer-edit-form,
.comment-create-form,
.comment-edit-form
  border: 1px dotted #aaa
  display: none
  margin: -5px -15px 30px
  padding: 5px 15px

.question .edit,
.answer .edit
  margin-right: 10px

#answers
  margin-top: 20px

#answers
  h3
    margin-left: 10px

.answer
  margin-bottom: 20px
  overflow: hidden
  padding: 5px 15px 0
  &.own
    background-color: #fbf9e8

.controls, .started
  margin: 5px 0 10px
.started
  font-size: 0.9em
  text-align: right
  .time
    margin-right: 10px

ul.errors
  list-style: none inside
  padding-left: 0
  li
    padding: 7px 10px

label.nested
  clear: both
  display: block
  font-weight: normal
  input
    display: inline-block


body .tags
  a
    border-radius: 3px
    background-color: #627191
    color: #FFF
    display: inline-block
    font-size: 0.9em
    padding: 0 6px 1px
    margin: 4px 5px 5px 0
    &:hover
      background-color: #736291
      text-decoration: none

.comments
  .comment
    border-top: 1px dotted #ddd
    margin: 40px 0
    padding: 5px 0 0 30px


body.users.show
  h2
    font-size: 20px
  table td:first-child
    font-weight: bold
    width: 150px
  .about
    background-color: #f5f5f5
    min-height: 300px
  .row.submit
    margin-top: 20px

body.sessions,
body.registrations
  form
    .btn-primary
      margin: 5px 20px 10px 0

footer
  margin-top: 30px
  .container-fluid
    max-width: 1170px
  .author
    text-align: right

@media (max-width: $screen-xs-max)
  header
    .navbar-inverse
      #logo img
        padding-left: 15px